.set-icon-back{
  font-size: 30px;
  margin-left: 10px;
  margin-top: 20px;
  cursor: pointer;
}

.set-parrafo{
  margin-left: 55px;
  margin-right: 40px;
  font-size: small;
  color: gray;
  text-align: center;
}

.setForm {
  margin-left: 20px;
  margin-right: 20px;
}

.setButton{
  margin-top: 30px;
}