<ion-toolbar>
  <ion-icon class="set-icon-back" slot="start" (click)="navegar(['login'])" name="arrow-back-circle-outline"></ion-icon>
</ion-toolbar>

<ion-content>
  <ion-grid class="logoapp">
    <ion-row class="ion-aling-items-center">
      <ion-col>
        <ion-img src="\assets\icon\LogoApp.svg"></ion-img>
      </ion-col>
    </ion-row>
  </ion-grid>
  
  <p class="set-parrafo">Ingrese el correo de la cuenta para recuperar la contraseña</p>

  <div class="set-inputcorreo">
    <ion-item>
      <ion-label position="floating">Correo@ejemplo.cl</ion-label>
      <ion-input clear-input="true" type="email" required="true"></ion-input>
    </ion-item>

    <ion-button (click)="alertrecuperar()" size="large" expand="block">RECUPERAR</ion-button> 
  </div>
</ion-content>