<app-header></app-header>

<ion-content>
  <app-logo></app-logo>
  
  <p class="set-parrafo">Ingrese el correo de la cuenta para recuperar la contraseña</p>

  <div class="setForm">
    <form #formulario="ngForm">
  
      <ion-item>
        <ion-input type="email" placeholder="correo@correo.com"name="email" 
          [(ngModel)]="correo" pattern="^([a-zA-Z0-9_\-\.]+)@([a-zA-Z0-9_\-\.]+)\.([a-zA-Z]{2,5})$" required>
        </ion-input>
      </ion-item >
  
      <ion-button (click)="correoEnviado()" type="submit" expand="block" 
        [disabled]="formulario.invalid" class="setButton">
        RECUPERAR
      </ion-button>
    </form>
  </div>
</ion-content>