.set-icon-exit{
    font-size: 30px;
    margin-right: 10px;
    margin-top: 20px;
    cursor: pointer;
}

ion-button{
  margin-top: 40px;
  margin-left: 30px;
  margin-right: 30px;
  font-size: large;
  align-items: center;
}

.set-parrafo{
  margin-left: 55px;
  margin-right: 55px;
  font-size: medium;
  color: gray;
  text-align: center;
  margin-top: 27px;
}