<ion-toolbar>
  <ion-icon class="set-icon-exit slot" slot="end" (click)="salirSesion()" name="exit-outline"></ion-icon>
  <app-header></app-header>
</ion-toolbar>

<ion-content>
  <app-logo></app-logo>

  <!-- Se aplica un ngFor para recorrer el arrglo y así crear las cards necesarias -->
  <ion-card *ngFor="let dato of viaje">

    <ion-card-header>
      <ion-item>
        <ion-avatar slot="end">
          <img alt="imagen" [src]="dato.imagen">
        </ion-avatar>
        <ion-label>
          <ion-card-subtitle color="dark">Carrera: {{dato.destino}}</ion-card-subtitle>
         <ion-card-title color="dark" >{{dato.conductor}}</ion-card-title>
        </ion-label>
      </ion-item>
    </ion-card-header>

    <ion-card-content>
      <ion-label color="dark">Destino: {{dato.destino}}</ion-label><br>
      <ion-label color="dark">Ruta: {{dato.ruta}}</ion-label><br>
      <ion-label color="dark">Patente: {{dato.patente}}</ion-label><br>
      <ion-label color="dark">Valor: {{dato.valor}}</ion-label><br>
      <br>
      <ion-label>Sobre mi: {{dato.resumen}}</ion-label>
    </ion-card-content>
    
    <ion-button class="setButton" (click)="reservarViaje()" size="large" expand="block">RESERVAR</ion-button>
  </ion-card> 

</ion-content>