.set-icon-exit{
    font-size: 30px;
    margin-right: 10px;
    margin-top: 20px;
    cursor: pointer;
}

.setButton{
  margin-top: 30px;
  margin-left: 150px;
  margin-right: 150px;
  font-size: small;
}
