<ion-toolbar>
  <ion-icon class="set-icon-exit slot" slot="end" (click)="salirSesion()" name="exit-outline"></ion-icon>
  <app-header></app-header>
</ion-toolbar>

<ion-content>
  <app-logo></app-logo>

  <ul class="list-group">
    <li *ngFor="let dato of datos | async" class="list-group-item">
      <h2>
        {{dato.conductor}}
      </h2>
      <p>
        {{dato.ruta}}
      </p>
    </li>
  </ul>

  <ion-button class="setButton" (click)="generaViaje()" size="large" expand="block">BUSCAR VIAJE</ion-button> 
</ion-content>