<ion-toolbar>
  <ion-icon class="set-icon-exit slot" slot="end" (click)="salirSesion()" name="exit-outline"></ion-icon>
  <app-header></app-header>
</ion-toolbar>

<ion-content>
  <app-logo></app-logo>

  <ion-card *ngFor="let dato of viaje">

    <ion-card-header>
      <ion-item>
        <ion-avatar slot="end">
          <img [src]="dato.imagen">
        </ion-avatar>
        <ion-label>
          <ion-card-subtitle>Carrera: {{dato.destino}}</ion-card-subtitle>
         <ion-card-title >{{dato.conductor}}</ion-card-title>
        </ion-label>
      </ion-item>
    </ion-card-header>

    <ion-card-content>
      <ion-label>Destino: {{dato.destino}}</ion-label><br>
      <ion-label>Ruta: {{dato.ruta}}</ion-label><br>
      <ion-label>Patente: {{dato.patente}}</ion-label><br>
      <ion-label>Valor: {{dato.valor}}</ion-label><br>
      <br>
      <ion-label>Sobre mi: {{dato.resumen}}</ion-label>
    </ion-card-content>
    
    <ion-button class="setButton" (click)="reservarViaje()" size="large" expand="block">RESERVAR</ion-button>
  </ion-card> 

</ion-content>