ion-button{
    margin-top: 50px;
    margin-left: 30px;
    margin-right: 30px;
    font-size: large;
    align-items: center;
}

.set-linkrecovery{
    color: #063970;
    font-size: 12px;
    text-align: center;
    margin-top: 40px;
    text-decoration: underline;
    cursor: pointer;
}