<ion-toolbar>
  <ion-title></ion-title>
</ion-toolbar>


<ion-content>  

  <app-logo></app-logo>


  <div class="ion-padding">
    <form #formulario="ngForm" (ngSubmit)="submit()">

      <ion-item>
        <ion-label id="usuario" position="floating">Usuario</ion-label>
        <ion-input  required name="user" [(ngModel)]="user.usuario" minlength=3 maxlength=15 clear-input='true'>
        </ion-input>
      </ion-item>
    
      <ion-item>
        <ion-label id="contrasena" position="floating">Contraseña</ion-label>
        <ion-input  required name="pass" [(ngModel)]="user.pass" type="password" clear-input='true'>
        </ion-input>
      </ion-item>


      <ion-button (click)="ingresar(['/home'])" type="submit" expand="block" [disabled]="formulario.invalid">
          INICIAR SESION
      </ion-button>
    </form>
    <p id="recuperar" class="set-linkrecovery" (click)="navegar(['/pass']) ">Recuperar contraseña</p>
  </div>
 
</ion-content>
