<ion-toolbar>
  <ion-title></ion-title>
</ion-toolbar>
<ion-content>  

  <app-logo class="setLogo"></app-logo>

  <div class="set-login">
    <ion-item>
      <ion-label position="floating">Usuario</ion-label>
      <ion-input clear-input="true" [(ngModel)]="user.nombre" type="text" required="true"></ion-input>
    </ion-item>

    <ion-item>
      <ion-label position="floating">Contraseña</ion-label>
      <ion-input clear-input="true" type="password" required="true"></ion-input>
    </ion-item>

    <ion-button (click)="navegar(['/home'])" size="large" expand="block">INGRESAR</ion-button> 
    <h6 class="set-linkrecovery" (click)="navegar(['pass'])">Recuperar Contraseña</h6>
  </div>
 
</ion-content>
