<ion-toolbar>
  <ion-icon class="set-icon-exit slot" slot="end" (click)="salirSesion()" name="exit-outline"></ion-icon>

  <ion-chip class="setAvatar">
    <ion-avatar>
      <img alt="avatar" src="\assets\Spider-Man.jpg">
    </ion-avatar>
    <ion-label color="dark">{{dato}}</ion-label> 
  </ion-chip>
</ion-toolbar>

<ion-content>
  <app-logo></app-logo>

  <p class="set-parrafo">Seleccione una modalidad de viaje</p>

  <ion-button class="setBConductor" (click)="navegar(['/conductor'])" size="large" expand="block">CONDUCTOR</ion-button> 
  <ion-button (click)="navegar(['/pasajero'])" size="large" expand="block">PASAJERO</ion-button>
  <ion-button color="danger" (click)="navegar(['/not-found'])" size="large" expand="block">NO PRESIONAR</ion-button> 

</ion-content>