.set-icon-exit{
  font-size: 30px;
  margin-right: 10px;
  margin-top: 20px;
  cursor: pointer;
}

.set-parrafo{
  margin-left: 55px;
  margin-right: 55px;
  font-size: medium;
  color: gray;
  text-align: center;
  margin-top: 27px;
}

ion-button{
  margin-top: 40px;
  margin-left: 80px;
  margin-right: 80px;
  font-size: large;
  align-items: center;
}

.setAvatar{
  margin-top: 28px;
  margin-right: 20px;
}

.setBConductor{
  margin-top: 50px;
}
